<div class="container-fluid">
  <div class="row content">
    <h1>Caesar's Cipher</h1>
    
    <form id="encryption-form">
      <input type= 'text' name='shift_value' size = "5" />
      <input type='submit' value='Encrypt!' />
    </form> 
    <textarea name="input_string" form="encryption-form"rows="4" cols="50"><%= string %></textarea>
    <textarea rows="4" cols="50"><%= message %></textarea>
  </div>
</div>
