<head>
    <link rel="stylesheet" href="../css/google_style.css" type="text/css"/>
    <link href="../images/google_logo.ico" rel="shortcut icon">
    <title>Google</title>
</head>

<body>
    <html>
    <div id="navbar">
        <div id="left-links">
            <ul>
                <li><a href="#">Search</a></li>
                <li><a href="#">Images</a></li>
                <li><a href="#">Maps</a></li>
                <li><a href="#">Play</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Gmail</a></li>
                <li><a href="#">Drive</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </div>
        <div id="right-links">
            <ul>
                <li><a id="sign-in" href="#">Sign In</a><li>
                <li><a id="bar" href="#"><span id="bar-img"></span></a></li>    
                <li><a id="settings" href="#"><span id="settings-logo"></span></a></li>
            </ul>
        </div>
    </div>
    <div id="logo">
        <img src="../images/google.png">
    </div>
    <div id="search">
    <form id="search-form" action="https://www.google.com/search" method="get" target="none">
        <div id="searchbar">
            <input name="q" type="text" size="57">
        </div>
        <div id="search-buttons">
            <div id="submit">
                <input type="submit" value="Google Search">
            </div>
            <div id="lucky">
                <input type="submit" value="I'm Feeling Lucky">
            </div>
        </div>
    </form>
    </div>
    
    <div id="spacer-btm"></div>
    <div id="bottom-bar">
            <span><a href="#">Advertising Programs</a></span>
            <span><a href="#">Business Solutions</a></span>
            <span><a href="#">+Google</a></span>
            <span><a href="#">About Google</a></span>
    </div>
    <div id="legal">
    <p>
        &copy2016 - <a href="#">Privacy</a> - <a href="#">Terms</a>
    </p>
    </div>
    </html>
</body>