<div class="row content" id="google">
  <h1><a href="/google">Google</a> <small>HTML || CSS || Google Search API? || DevTools</small></h1>

  <h2>What is this?</h2>
  
  <p>A hardcoded html and css clone of Google's homepage. And it actually works!</p>
  
  <h2>What does it do?</h2>
  
  <p>It's google!</p>
  
  <h2>Abstraction. (...or whatever it's called.)</h2>
  
  <p>I'll be the first to admit that front-end isn't my strong suit, and one may think that of all webpages to try and copy, Google's probably the easiest! That may be true, but this was such a wonderfully challenging exercise! Some of the CSS elements required down-to-the-pixel specificity. Take the iconic searchbar for example:</p>
  
  <pre>
    #searchbar input {
    display: block;
    margin: 0 auto;
    padding: 5px 8px 0 6px;
    border: 2px;
    border-style: inset;
    font-size: 18px;
    height: 25px;
    width: 496px;
    }
  </pre>
  
  <p>Of course, this kind of dexterity isn't arbitrary. I had a wonderful introduction to my browser's devtools to inspect html elements and css rules. Also, does it count as an api if I send a <code>q</code> string to <code>https://www.google.com</code>?</p>
  
  <h2>Where do we go from here?</h2>
  
  <p>This project is complete, but more like it are sure to come. Cloning website frontends in this way is great way to practice for me. It wouldn't hurt to go back and refactor this page either.</p>
  
  <h2>What did I learn?</h2>
  
  <p>HTML, CSS, Devtools, as I've already mentioned. I also learned some soft skills too: being patient, precise, and using Google! (pun intended).</p>
  
</div>
