<div class="container-fluid">
  
  <div id="about" class="row content">
    <div class="col-md-4">
      <img class="img-responsive" src="../images/headshot.jpg" alt="Headshot of Thomas">
    </div>
    <div class="col-md-8">
      <div id="bio">
        I am a professional actor, baker, and coffee snob now turned self-taught web developer.<br><br>I fell in love with web development not only for its rewarding technical challanges, but for its community. I began studying with a bit of a chip on my shoulder, but already I've been met with such warmth, passion, collaboration, and creativity from my peers and mentors.<br><br>By my own admission, I don't like to call myself a web developer quite yet; however, as I grow, refocus, design, scrap, build, and discover all the brilliance in this field, I take time to pause.<br><br>I am inspired by knowledge, spurred by an impetus for expression, and channeled by technical precision. I aim to build meaningful experiences through clean elegant code. Though I haven’t been a developer for long, I’m on a humble flight.
          <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
    </div>
    
  </div>
  <!--/about-->
  
  <div id="projects" class="row content">
    <div class="row">
      
      <div class="col-md-3">
        <p>Caesar's Cipher</p>
        <div>
          <a href='/readme#caesars-cipher'>Readme</a> //
          <a href="/caesars-cipher">Deployed</a> // 
          <a href="https://github.com/Thomascountz/caesar_cipher" target="none">Github</a>
        </div>
      </div>
      
      <div class="col-md-3">
        <p>Connect Four</p>
        <div>
          <a href='/readme#connect-four'>Readme</a> //
          <a href="https://github.com/Thomascountz/odin_projects/tree/master/connectfour">Github</a>
        </div>
      </div>

      <div class="col-md-3">
        <p>Google Homepage</p>
        <div>
          <a href='/readme#google'>Readme</a> //
          <a href="/google">Deployed</a> // 
          <a href="https://github.com/Thomascountz/google-homepage" target="none">Github</a>
        </div>
      </div>
      
      <div class="col-md-3">
        <p>Hartl's Rails Tutorial</p>
        <div>
          <a href='/readme#sample-app'>Readme</a> //
          <a href="https://thomas-sample-app.herokuapp.com/" target="none">Deployed</a> // 
          <a href="https://github.com/Thomascountz/sample_app" target="none">Github</a>
        </div>
      </div>
      
      
    </div>
  </div>
  <!--/projects-->
  
  <div id="contact" class="row content">
    <div class="col-md-4">
      <a href="mailto:thomascountz@gmail.com" target="none">email.</a>
      <p>thomascountz@gmail.com</p>
    </div>
    <div class="col-md-4">
      <a href="https://github.com/Thomascountz" target="none">github.</a>
      <p>github.com/thomascountz</p>
    </div>
    <div class="col-md-4">
      <a href="http://instagram.com/Thomascountz/" target="none">instagram.</a>
      <p>instagram.com/thomascountz</p>
    </div>
  </div>

</div>
<!--/contact-->


