<div class="center jumbotron">
  <div class="container-fluid">
    <h1 class="title-text">Thomas Countz</h1>
    <h2 class="sub-title-text">//Web Developer//</h2>
  </div>
</div>
<!--/jumbotron-->
<div class="container-fluid">
  
  <div id="about" class="row">
    <p id="bio">By my own admission, I won't call myself a web developer quite yet; however, as I grow, refocus, design, scrap, build, and discover all the brilliance in this field, I take time to pause. I am inspired by knowledge, spurred by an impetus for expression,
      and channeled by technical precision. I aim to build digital stories through minimalistic visual experiences, rich brands, and seamless interactivity. Though I haven’t been a developer for long, I’m on a humble flight.
    </p>
  </div>
  <!--/about-->
  
  <div id="projects" class="row">
    <p>
      Here is where you'll see my current projects; you'll get to view samples of my coding, my design work, and learn a little bit more about me.
    </p>
  </div>
  <!--/projects-->
  
  <div id="contact" class="row">
    <p id="social-links">
      <a href="https://github.com/Thomascountz" target="none">github</a>
      <a href="http://instagram.com/Thomascountz/" target="none">instagram</a>
    </p>
    
</div>

</div>
<!--/contact-->
<p style="font-size:.9em"><br>&copy2016 Thomas Countz</p>

