<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Thomas Countz</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <%= erb :navbar_partial, :layout => false %> 
    <%= erb :header_partial, :layout => false %>
    <%= yield %>
    <%= erb :footer_partial, :layout => false %>
    
    <!-- JQuery from Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <!-- Bootstrap jQuery -->
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>