<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-top" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Thomas Countz</a>
    </div>
    
    <div class="collapse navbar-collapse" id="my-navbar-top">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/#about">Bio</a></li>
        
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/readme" role="button" aria-haspopup="true" aria-expanded="false">
            Readmes <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/readme#caesars-cipher">Caesar's Cipher</a></li>
            <li><a href="/readme#connect-four">Connect Four</a></li>
            <li><a href="/readme#google">Google</a></li>
            <li><a href="/readme#sample-app">Sample App</a></li>
          </ul>
        </li>
        
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>
    
  </div>
</nav>