<div class="container-fluid">
  
  <%= erb :caesar_readme, :layoyt => false %>
    
  <%= erb :connectfour_readme, :layoyt => false %>

  <%= erb :google_readme, :layoyt => false %>

  <%= erb :sample_app_readme, :layoyt => false %>

</div>