<div class="row content" id="sample-app">
  <h1><a href="https://thomas-sample-app.herokuapp.com/" target="none">Sample App</a> <small>RoR || Bootstrap || SQL || Minitest</small></h1>
  <p>(Opens in new tab)</p>
  
  <h2>What is this?</h2>
  
  <p>This is my progress as I work through the famous <a href="https://www.railstutorial.org/" target="none">Michael Hartl's Ruby on Rails Tutorial</a>.</p>
  
  <h2>What does it do?</h2>
  
  <p>It's helping me learn Rails! Eventually it will be another clone of the famed social media app.</p>
  
  <h2>Abstraction. (...or whatever it's called.)</h2>
  
  <p>Many many many Rails developers have built this app following this tutorial. I feel as though it's a rite of passage. Alongside the supplements at <a href="http://www.theodinproject.com" target="none">The Odin Project</a>, I feel as though I will complete this tutorial with a more in-depth appreciation for what I've let myself get into.</p>
  
  <h2>Where do we go from here?</h2>
  
  <p>I keep on learning! Next up: Models. Keep up with my learning by following <a href="https://github.com/Thomascountz/sample_app" target="none">my repository</a> on github!</p>
  
  <h2>What did I learn?</h2>
  
  <p>So far I'm learning minitest from square one, where in the past I've focused exclusively on RSpec. The tutorial begins with looking at the C and V of MVC, and takes care to ensure that each element is tested.</p>    
</div>
