body {
  margin: auto 1%;
}

h1, h2 {
  font-weight: bolder;
  text-align: right;
}

#about, #projects, #contact {
  background-color: #efefef; /*add subtle color to background of elements*/
  margin-top: 1%; /*gap between elements*/
  padding: 8% 0; /*create padding to enlarge block space*/
  text-align: center;
}

#bio {
  font-size: 1.5em; /*enlarge text*/
  text-align: right; /*center align text*/
}

#contact a {
  font-size: 2em;
}
