body {
  margin: auto 1%;
}

.jumbotron {
  background: contain;
  background-image: url('../images/File_000_1.jpg');  /*import background image of coffee*/
  background-size: cover;
}

#about, #projects, #contact {
  background-color: #efefef; /*add subtle color to background of elements*/
  margin-top: 1%; /*gap between elements*/
  padding: 8% 0; /*create padding to enlarge block space*/
  text-align: center;
}

#bio {
  font-size: 1.5em; /*enlarge text*/
  text-align: center; /*center align text*/
}

