body {
  margin: auto 1%;;
}

.jumbotron {
  text-align: right;
}

h1, h2 {
  font-weight: bolder;
}

.content {
  background-color: #efefef; 
  margin-top: 1%; 
  padding: 8% 1%;
  font-size: 1.5em
}

#bio {
  text-align: right; 
}

#projects {
  text-align: center;
}

#contact a {
  font-size: 2em;
}
